extends layout

block content
  div.container
    h1= title
    p Strasbourg Open Source API for restaurants, bars, sights and public transportation
    a(href='https://github.com/MaximeHeckel/strashub/blob/master/README.md') Read Documentation
